[alias]
	# -s omits the more verbose stuff from the typical status message
	st = status -s
	df = diff
	dfw = diff --color-words
	dfns = diff --ignore-space-at-eol
	co = checkout
	ci = commit
	br = branch -v -v --sort=-committerdate
	sm = submodule
	sl = stash list
	# looks like this (with more colour):
	# * c12ed67 ME 4 minutes ago Add setup_load_paths and accompanying README (HEAD, origin/master, origin/HEAD, master)
	lg = log --graph --pretty='format:%C(yellow)%h %Cblue%s%Cred%d	%Creset%aN %ar%Creset'
	# Tell git to assume a specific file hasn't changed, even if it has
	ignore-change = update-index --assume-unchanged
	# undo ignore-index
	no-ignore-change = update-index --assume-unchanged
	ignored-change = ls-files -v
	# check for introduced EOL-whitespace
	sp = diff --check
	#ss = stash show -p stash@{$1}
[diff]
	color = auto
[status]
	color = auto
[core]
	excludesfile = /Users/matt.eagar/.gitignore
	autocrlf=input
[mailmap]
	# Use by my above lg alias to map committers to their two character initials
	file = /Users/matthew.eagar/.gitmailmap
[push]
	# Only push the branch I'm currently working on
	default = tracking
[core]
	# Move to the end of the line and start appending when VIM opens to edit a commit message
	editor = vim
[user]
	name = Matthew Eagar
	email = meagar@gmail.com
	signingkey = 3E99B77ADC4FBD26
[pager]
	status = false
[url "git@github.com:"]
	insteadOf = https://github.com/
[interactive]
	singleKey = true
[rebase]
	instructionFormat = (%an <%ae>) %s
[fetch]
	prune = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
[gc]
	auto = 0
[init]
	defaultBranch = main
